.header {
    width: 100%;
    height: 10%;
    margin-bottom: 25px;
}

.header-div {
    height: 100%;    
    padding: 15px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(16,29,68);
    border-bottom: 5px solid rgb(239,43,47);
}